<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
    <meta charset="UTF-8">
    <title>Title</title>

    <h1>Base</h1>
    {% endblock %}
</head>

<body background="background.png">
    <br>


 <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand -->
  <a class="navbar-brand mr-auto " >File Repo</a>

  <!-- Links -->
  <ul class="navbar-nav ">


    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Navigate
      </a>

        {% if user.is_authenticated %}
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
          <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
          <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
          <a class="dropdown-item" href="{% url 'accounts:change_password' %}">New Pass</a>
          <a class="dropdown-item" href="{% url 'home:group_register' %}">New Group</a>
          <a class="dropdown-item" href="{% url 'home:group_list' %}">My Groups</a>
          <a class="dropdown-item" href="#">Disabled</a>
        </div>
            {% else %}
          <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a>
          <a class="dropdown-item" href="{% url 'accounts:register' %}">Register</a>
          <a class="dropdown-item" href="#">Disabled</a>
          <a class="dropdown-item" href="{% url 'accounts:password_reset' %}">Reset Pass</a>

        </div>
          {%endif%}
    </li>
  </ul>
</nav>



</br>
    {% block body %}
    {% endblock %}

</body>
</html>