{% extends 'home/templates/base.html' %}
{% block head %}
<title>Group</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <h2>Group Name: {{group.name}} </h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                {% if user in group.isLeader.all or user.is_superuser %}
                    <a href="edit/" class="btn btn-outline-dark" role="button">Edit Group</a>
                    <a href="delete/" class="btn btn-outline-dark" role="button">Delete Group</a>
                    <a href="files/" class="btn btn-outline-dark" role="button">View Files</a>
                    <a href="comment/" class="btn btn-outline-dark" role="button">Add Comment</a>

                {% else %}
                    <a href="files/" class="btn btn-info" role="button">View Files</a>
                    <a href="comment/" class="btn btn-info" role="button">Add Comment</a>
                {% endif %}

            </div>
            <div class="col-lg-6">
                <h3>Members:</h3>
                {% for m in group.members.all %}
                    <h4>{{m.username}} </h4>
                {% endfor %}
            </div>
        </div>

        {% for c in comment %}
            {% if group == c.group %}
                <div class="card" style="width: 20rem;">
                    <div class="card card-body">
                        <h4 class="card-title">{{c.title}}</h4>
                        <p class="card-text">{{c.comment}}</p>
                        <h5>Comment Read By: </h5>
                        {% for u in c.hasRead.all %}
                            <p class="card-text">{{ u.username }}</p>
                        {% endfor %}

                        <div class="flex-row">
                            <a href="{{c.id}}/delete/" class="btn btn-danger" role="button">Remove Comment</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>


</div>
{% endblock %}
</html>
