{% extends 'home/templates/base.html' %}
{% block head %}
<title>Group</title>
{% endblock %}
{% block body %}

<h2>Group Name: {{group.name}} </h2>
{% for m in group.members.all %}
    <h4>members: {{m.username}} </h4>
{% endfor %}

{% if user in group.isLeader.all %}
    <a href="edit/">Edit Group</a>
    <a href="delete/">Delete Group</a>
    <a href="files/">view files</a>
    <a href="comment/">add Comment</a>
{% else %}
    <a href="files/">view files</a>
    <a href="comment/">add Comment</a>
    <a href="{{c.id}}/delete/">remove Comment</a>
{% endif %}
{% for c in comment %}
    {% if group == c.group %}
        <h3>{{c.title}}</h3>
        <h4>{{c.comment}}</h4>
        <a href="{{c.id}}/delete/">remove Comment</a>
    {% endif %}
{% endfor %}


{% endblock %}
</html>
