{% extends 'home/templates/base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/groups_Style.css' %}">
<title>Groups list</title>
{% endblock %}
{%block body%}
<div class="container-fluid">
    <h2>Groups:</h2>
    <a href="{% url 'home:group_register' %}" class="btn btn-outline-success" role="button">New Group</a>
    <br>
    <br>
    <div class="container-fluid">
        {% for g in groups %}
            {% if user in g.members.all or user.is_superuser %}
                <div class="container-fluid">
                    <div class="card bg-light " style="width: 25rem;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>{{g.name}}</h3>
                                </div>
                            </div>
                            <div class="flex-row">
                                <table width = "100%">
                                    <tr>
                                        <td width="30%">
                                <a href="{{g.id}}" class="btn btn-outline-info" role="button">group info</a>
                                        </td>
                                        <td width = "70%">
                                            <div align="right" text-align="right">
                            {%for m in g.members.all%}
                                <h5 class="card-columns">{{m.username}}</h5>
                            {% endfor %}
                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br>


                        </div>

                    </div>
                </div>
            {% endif %}
    </br>
        {% endfor %}
    </div>
</div>


{%endblock%}