{% extends 'home/templates/base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/groups_Style.css' %}">
    <title>Groups list</title>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h2>Groups:</h2>
        <a href="{% url 'home:group_register' %}" class="btn btn-outline-success" role="button">New Group</a>
        <br>
        <br>
        <div class="row">
            {% for g in group %}
                {% if user in g.members.all %}
                    <div class="col-auto">
                        <div class="container-fluid">
                            <div class="card bg-transparent">
                                <div class="container-fluid">
                                    <div class="card-block">
                                        <h3 class="card-title">{{ g.name }}</h3>
                                        <a href="{{ g.get_absolute_url }}" class="btn btn-outline-dark">view
                                            Group</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}