{% extends 'home/templates/base.html' %}
{% load staticfiles %}
{% block head %}
    <title>Groups list</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/groups_Style.css' %}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h2>Group Files:</h2>
        <a href="upload/" class="btn btn-secondary" role="button">Upload File</a>
        <br>
        <br>

        <div class="container-fluid">

            {% for d in document %}
                {% if group == d.group %}

                    <div class="card bg-light ">

                        <h3 class="card-title ">{{ d.name }}&nbsp;
                            <a href="{{ d.id }}/delete/"
                               class="btn btn-outline-danger"
                               role="button">delete</a>
                            <a href="{{ d.id }}/download/" class="btn btn-outline-success"
                               role="button">download</a>
                            <a href="{{ d.id }}/comment/" class="btn btn-outline-info"
                               role="button">Add Comment</a></h3>
                    <h5 class="card-body">{{ d.time }}</h5>
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">

                            View Comments
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            {% for c in comment %}
                                {% if c.document == d %}


                                    <div class="container-fluid">{{ c.title }}
                                        by {{ c.creator }}
                                        <p class="text-center">{{ c.comment }}</p>
                                        <h5>Comment Read By: </h5>
                                        {% for u in c.hasRead.all %}
                                            <p class="text-center">{{ u.username }}</p>
                                        {% endfor %}

                                        <div class="flex-row">
                                            <a href="{{ d.id }}/{{ c.id }}/delete/" class="btn btn-danger"
                                               role="button">Remove Comment</a>
                                        </div>
                                    </div>


                                {% endif %}
                            {% endfor %}

                        </div>


                    </div>


                    <br>




                {% endif %}
            {% endfor %}
        </div>

    </div>
    </div>

{% endblock %}
