{% extends 'home/templates/base.html' %}
{% load staticfiles %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/css/Style.css' %}">
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three equal columns that floats next to each other */
.container-fixed-r {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;

}
.container-fixed-l {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;

}
.container-fixed > h2{
  text-align: center;
}
.container-fixed > a{
  button: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
    .Username{
        font-size: 29px;
         color:#5a6268;
        font-family: "Bodoni MT Poster Compressed";
    }
</style>
{% endblock %}
{%block body%}
<span class="Username">{{user.username}}</span>

        <!-- List of uploaded documents -->
<div class="container">
<h1>
  <span class="Username">{{user.username}}</span>
</h1>
</div>>
<div class="container">
<div class="divide">
	<div class="top">
		<h1>Groups</h1>
		<p>Group 1</p>
        <a href="{% url 'home:group_register' %}" class="btn btn-secondary" role="button">Create</a>
        <a href="{% url 'home:group_list' %}" class="btn btn-secondary" role="button">View All</a>
	</div>
	<div class="bottom">
		<h1>My Files</h1>
		<p>File 1</p>
	</div>

	</div><div class="divide">
	<div class="right">
		<h1>Logs</h1>
      {% for l in logs %}
		<p>{{l.time}}: {{l.user.username}} {{l.action}} {{l.name}}</p>
      {% endfor %}
	</div>

	</div>
</div>
{%endblock%}

