{% extends 'home/templates/base.html' %}
{% load staticfiles %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/css/Style.css' %}">
{% endblock %}
{%block body%}
        <!-- List of uploaded documents -->
        <div class="padding">
        <h1>{{ user.username }}</h1>
        <h3>My uploaded documents:</h3>
                <p>Click a document to jump to the page!</p>
        {% for d in document %}
            {% if user in d.group.members.all or user.is_superuser %}
                <a href= "{{d.group.get_absolute_urlf}}" class="btn btn-outline-dark" role="button">{{d.name}} <br>Group: {{d.group}}</a>
            {% endif %}
        {% endfor %}
        </div>

{% endblock %}
