h1, h2, h2 h3, h5, h6 {

    font-family: "sans-serif";
    color: #000000;
}
body {
    margin : 0;
    padding : 0;
    background-size : auto;
    background-image: url("background2.png");
    background-position: center;
    font-family:sans-serif;

}
p, ul, ol, dl, dd, {
  font-family: "Garamond";
  font-weight: "300";

}
Username {
  color:#5a6268;
}

a {
  font-family: "Garamond";
  font-weight:"00"
}
button {
  display: inline-block;
  padding: 10px 110px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 9px #999;
  color: #fff;
  background-color: #1a1c1b;

}
button:hover {background-color: #070707}

button:active {
  background-color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(5px);
}

background{
    color: #ffffff
}

div {
	height: auto;
	width: ;
}

.right{
	
	width: 30%;
	float: right;
	top: 25%;
	position: fixed;
	height: auto;
	left: 65%;
}

.divide {
	display:inline-block;
	width: 50%;
}

.top {
	width: 55%;
	height: 35%;
	position: fixed;
	top: 25%;
	left: 5%;
}
.padding {padding:10 0 0 25;}
.bottom{
	width: 55%;
	height: 35%;
	position: fixed;
	
	top: 65%;
	left: 5%;
}