{% extends 'accounts/templates/base.html' %}
{% load staticfiles %}
{% block head %}
    <title>Recover password</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/Style.css' %}">
{% endblock %}
{% block body %}
    <div align="center">
        <h1>Forgot password</h1>
        <p>Please enter your the email address you registered with to receive a recovery email</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}