<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Base</h1>
    {% endblock %}
</head>

<body>
<br>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">File Repo</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/account/">Home</a></li>
      <li><a href="/account/">My Files</a></li>
      <li><a href="/account/logout/">Logout</a></li>
        <li><a href="/account/login/">Login</a></li>
      <li><a href="/account/register/">Register</a></li>
    </ul>
  </div>
</nav>
    {% block body %}
    {% endblock %}

</body>
</html>