<html>
<head>
<title> File repository Login </title>
    <link rel = "stylesheet" type="text/css" href="style.css">
</head>
    <body>
        <div class = "Login-box">
        <div class = "form">
        <img src ="UserIcon.png" class="Icon">
            <h1>Login</h1>
            <form class = "login-form">
                <p>username</p>
                <input type = "text" placeholder="Enter Username" id = "Username">
                <p>password</p>
                <input type = "text"  placeholder="Enter Password" id ="Password">
                <input type ="button" onclick="clicked()" value="Login"/>
                <p class = "message">Not Registered?<a href="#"> click here</a></p>
            </form>  
            <form class = "register-form">
                   <p>Email</p>
                <input type = "text" name = "Email" placeholder="Enter Email">
                <p>Create a Username</p>
                <input type = "text" name = "creating a username" placeholder="Enter Username">
                <p>Create a password</p>
                <input type = "text" name =" create a password" placeholder="Enter Password">
                <input type = "submit" name ="submit" value = "Create">
            </form>
        </div>
        </div>
        <script language="javascript">
            function clicked() {                                                                                                
	       var user = document.getElementById('Username');
	       var pass = document.getElementById('Password');
    
        var x = "jey";
        var y = "1997";
    
        if (user.value == x && pass.value == y ){                                                                       
            alert("Welcome  "+Username.value)
            } else {
            
                alert("Incorrect username or password")
    }
}
        </script>
        <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <script>
        $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity:"toggle"},"slow");
        });
        </script>

    </body>
</html>