body{
    margin : 0;
    padding : 0;
    background: url(background.png);
    background-size : cover;
    background-position: centre;
    font-family:sans-serif;

}

.Home .p1{
    color: aqua;
}
.HomePage .p1{
    font-family: fantasy;
}

.UserIcon{
    float: right;
position: relative;
margin-left: 4%;
    height: 100;
}

.login-box{
    width:320px;
    height: 720px;
    background: rgba (4,4,4.6);
    color:#FFFFF0;
    top:70%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.Home .editbtn{
    padding left: 500;
    transform: translate(-50%,-50%);
   
}
}
.Home
{
    width:300px;
    height: 720px;
    background: rgba (4,4,4.6);
    color:#FFFFF0;
    position:absolute;
    box-sizing: border-box;
    padding: 10px ;
    top : 70;
    right:-20;
}
.form .message{
    margin: 15px 0 0 ;
    color :white;
}
.form .message a{
    color : #4CAF50
    
}
.Icon{
   width: 100px;
    height:100px;
    border-radius: 50%;
    position:absolute;
    top:-50px;
    left: calc(50% - 50px);
}
.pic {
    width: 100px;
    height:100px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align:center;
    font-size:22px;
}
.login-box p{
    margin :0;
    padding: 0;
    font-weight:bold;
    
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type ="text"], input[type="password"]
{
    border : none;
    border-bottom: 1px solid #fff;
    background :  transparent;
    outline: none;
    height: 40px;
}
.form .register-form{
    display : none;
}

.body_homepage{
    margin: none;
    padding: 0;
    font-family:'Arial','serif';
}
.nav {
    background-color: #595959;
    color:#ffffff;
    list-style:none;
    text-align: center;
    padding: 20px 0 20px 0;
}
.nav >li{
    display :inline-block;
    padding: 0 50px 0 50px;
}
.nav > li > a{
    color: whitesmoke;
}
    
.nav >li > a:hover{
    color : #c1c1c1;
}
table, th, td {
    border : 1px solid grey; 
    height : 400px;
    width : 900px;
    
}
table, td {
    text-align: center;    
}

a {
    color: whitesmoke;
    
}
a:hover{
    color : #c1c1c1;
}
     
