
<h1>
    {{folder.owner}}
</h1>
<h3>{{folder.title}}</h3>
{%if error_message%}
    <p><strong>{{error_message}}</strong></p>
{% endif %}

<form action="{% url 'folders:favorite' folder.id%}" method="post">
    {% csrf_token%}
    {% for document in folder.document_set.all%}
        <input type="radio" id="document{{forloop.counter}}" name="document" value="{{document.id}}">
        <label for="document{{forloop.counter}}">
            {{document.document_title}}
            {%if document.is_favorite%}
                <label>is your favorite</label>
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite">

</form>
